/* ///resposive  */

.menuMobile {
  position: relative;
}

.menuMobile .btn-container {
  position: relative;
}

.menuMobile .btn-container:not(:last-child) {
  margin-bottom: 2px;
}

.menuMobile .btn {
  position: relative;
  width: 150px;
  height: 40px;
  background-color: #222222;
  color: white;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer;
  transition: width 0.3s cubic-bezier(1, 0.01, 0.26, 1.9),
    background-color 0.3s cubic-bezier(1, 0.01, 0.26, 1.9);
  z-index: 9;
}

.menuMobile .btn-container .btn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: 0;
}

.menuMobile .btn-container.btn:before {
  background-color: #be4c39;
}

.menuMobile ul {
  margin-left: 20px;
  list-style: none;
  transition: left 0.3s cubic-bezier(1, 0.01, 0.26, 1.9);
}

.menuMobile .sub-button {
  position: relative;
  width: 190px;
  height: 40px;
  background-color: #333333;
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(1, 0.01, 0.26, 1.9);
  display: none;
}

.menuMobile .sub-button:not(:last-child) {
  margin-bottom: 2px;
}

.menuMobile .sub-button:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  right: 0;
}

.menuMobile .btn-container .sub-button:after {
  background-color: #be4c39;
}

.menuMobile .btn-container:first-child:hover > .btn {
  width: 210px;
  background-color: #be4c39;
}

.menuMobile .btn-container:first-child:hover > .btn:after {
  border-left-color: #be4c39;
}

.menuMobile .btn-container:hover > .btn + .sub-button-container > ul {
  left: 0px;
}

.menuMobile
  .btn-container:first-child:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button {
  display: block;
}

.menuMobile
  .btn-container:first-child:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button:hover {
  background-color: #be4c39;
}

.menuMobile
  .btn-container:first-child:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button:hover:before {
  border-right-color: #be4c39;
}

.menuMobile .btn-container:hover > .btn {
  width: 210px;
  background-color: #9351a6;
}

.menuMobile .btn-container:hover > .btn:after {
  border-left-color: #9351a6;
}

/* .menuMobile .btn-container:hover > .btn + .sub-button-container > ul {
  left: 249px;
} */

.menuMobile
  .btn-container:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button {
  display: block;
}

.menuMobile
  .btn-container:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button:hover {
  background-color: #9351a6;
}

.menuMobile
  .btn-container:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button {
  display: block;
}

.menuMobile .btn-container:hover > .btn {
  width: 210px;
  background-color: #257e78;
}

.menuMobile
  .btn-container:last-child:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button {
  display: block;
}

.menuMobile
  .btn-container:last-child:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button:hover {
  background-color: #257e78;
}

.menuMobile
  .btn-container:last-child:hover
  > .btn
  + .sub-button-container
  > ul
  .sub-button:hover:before {
  border-right-color: #257e78;
}

.menuMobile ul {
  z-index: 100;
}
